html, body {
  height : 100%;
  margin : 0 ;
}

.center {
  float : none;
  margin : 0 auto;
  text-align : center;
}

.none {
  visibility : hidden;
 }
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .section-pad-sm {
     padding: 20px 0;
 }
 .section-pad-md {
     padding: 60px 0;
 }
 .section-pad-lg {
    padding: 100px;
 }
.section-margin-sm {
    margin : 20px 0;
}
.section-margin-md {
    margin : 60px 0;
}
.section-margin-lg{
    margin : 100px 0;
}

//Responsive Classes
.screen-xs-center {
  @media screen and (max-width: $screen-xs-max) {
    display: block;
    margin: 0 auto;
    text-align : center ;
    float: none !important;
  }
}
.screen-xs-none {
  @media screen and (max-width: $screen-xs-max){
    display: none;
  }
}
