
<!doctype html>
<html>
<head>
  <title>Project</title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="../../../app/css/styles.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav class="collapse-nav">
    <div class="container">
     <div class="nav-head">
       <a href="#" class="brand">Brand Logo</a>
       <button class="collapse-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
     </div>
     <div class="coll">
       <ul class="coll-ul">
         <li><a href="">Home</a></li>
         <li><a href="">About</a></li>
         <li><a href="">Port</a></li>
         <li><a href="">Contact</a></li>
       </ul>
     </div>
    </div> 
  </nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="collapse-nav.js"></script>
</body>
</html>
